.home {
	position: relative;
	width: 78%;
	height: 90vh;
	padding: 50px;
	background-color: var(--main-color);
	margin-top: 50px;
	border-radius: 40px;
}

.cards {
	width: 100%;
	height: 43%;

	.myCards {
		margin-bottom: 20px;
		font-weight: 400;
		user-select: none;
	}

	& > div {
		display: flex;
		align-items: center;
	}
}

.createCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: 1px solid #fff;
	transition: 0.25s;
}

.createCard:hover svg {
	transition: 0.15s;
	width: 35px;
	height: 35px;
}
.createCard:hover {
	transition: 0.15s;
	width: 60px;
	height: 60px;
}

.none {
	display: none;
}

.payments {
	width: 100%;
	height: 32%;
	margin-bottom: 30px;

	& h2 {
		font-weight: 400;
		user-select: none;
	}

	& ul.fullTransfers {
		position: absolute;
		top: 10px;
		border: 2px solid #000;
		border-radius: 10px;
		background-color: #393939;
		width: 540px;
		height: 95%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		transition: all 0.25s;
	}

	& ul {
		position: relative;
		width: 540px;
		height: 90%;
		overflow: hidden;
		transition: all 0.25s;

		& li.sent {
			color: red;
		}
		& li.received {
			color: green;
		}

		& li {
			display: flex;
			align-items: center;
			font-size: 24px;
			margin-bottom: 15px;

			& span:nth-child(2) {
				font-weight: 200;
				color: #fff;
				font-size: 20px;
				margin-left: 20px;
			}
		}

		& button {
			position: absolute;
			left: 320px;
			bottom: 20px;
			width: 120px;
			height: 30px;
			background-color: transparent;
			border: none;
			border-radius: 5px;
			font-weight: 400;
			font-size: 15px;
			color: #fff;
			border: 2px solid #000;
			z-index: 2;
		}
	}
}

.operation {
	width: 100%;
	height: 23%;

	& h2 {
		font-weight: 400;
		user-select: none;
	}

	& button.close {
		display: none;
	}
	& button {
		margin: 15px;
		width: 70px;
		height: 70px;
		background-color: #393939;
		border: 2px solid #000;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		& a {
			width: 100%;
			text-decoration: none;
			height: 100%;
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}
}

.chart {
	width: 500px;
	height: 320px;
	position: absolute;
	left: 600px;
	top: 425px;
}

.plus {
	display: none;
}
