.home {
	width: 78%;
	height: 90vh;
	padding: 50px;
	background-color: var(--main-color);
	margin-top: 50px;
	border-radius: 40px;
}

.cards {
	width: 100%;
	height: 43%;

	.myCards {
		margin-bottom: 20px;
		font-weight: 400;
	}

	& > div {
		display: flex;
		align-items: center;
	}
}

.createCard {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	border: 1px solid #fff;
}

.none {
	display: none;
}

.payments {
	width: 100%;
	height: 32%;
	margin-bottom: 30px;

	& h2 {
		font-weight: 400;
	}
}

.operation {
	width: 100%;
	height: 23%;

	& h2 {
		font-weight: 400;
	}

	& button {
		margin: 15px;
		width: 70px;
		height: 70px;
		background-color: #393939;
		border: 2px solid #000;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
