.login {
	width: 100%;
	height: 100vh;
	background-color: #332c3b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.container {
		position: relative;
		width: 450px;
		height: 600px;
		padding: 20px;
		padding-top: 45px;
		background-color: #302938;
		border: 2px solid #2d2734;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0px 10px 15px 0px #282031;

		& h1 {
			font-size: 25px;
			font-weight: 500;
		}

		& form {
			position: relative;
			width: 100%;
			height: 100%;
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;

			& .alternativeLogin {
				width: 90%;
				height: 50px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 50px;

				> button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 48%;
					height: 100%;
					font-size: 15px;
					border: none;
					border-radius: 3px;
					background-color: #352e3d;

					> p {
						margin-left: 10px;
					}

					&:hover {
						background-color: #8e80f5;
					}
				}
			}

			> label {
				position: relative;
				top: 20px;
				left: -160px;
			}

			& input {
				width: 90%;
				height: 50px;
				margin: 25px;
				margin-bottom: 10px;
				padding: 13px;
				font-size: 24px;
				color: #9993a0;
				border-radius: 2px;
				background: #352e3d;
				border: 1px solid #372f3e;
				font-size: 18px;
				outline: none;
			}

			& button {
				margin-top: 30px;
				border-radius: 3px;
				width: 90%;
				height: 13%;
				color: #fff;
				font-size: 23px;
				background-color: #8e80f5;
				border: none;
				transition: 0.25s;

				&:hover {
					background-color: #7160f1;
				}
			}
		}
	}
}
