:root {
	line-height: 1.5;
	font-weight: 400;

	color: #fff;
	background-color: #1b1b1b;
	--main-color: #464b4f;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
